{% extends '_base.html' %}
{% block content %}
<div class="container mt-5">
  <div class="card p-4">
    <h3>Cambiar contraseña</h3>
    <form method="post">
      {% csrf_token %}
      <div class="mb-3">
        <label>Nueva contraseña:</label>
        <input type="password" name="password" class="form-control" required>
      </div>
      <div class="mb-3">
        <label>Confirmar contraseña:</label>
        <input type="password" name="confirm_password" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-primary">Guardar</button>
      <a href="{% url 'usuarios:detail' usuario.id %}" class="btn btn-secondary">Cancelar</a>
    </form>
  </div>
</div>
{% endblock %}
