{% extends '_base.html' %}
{% load static %}

{% block title %}Bienvenido al Club Tenis{% endblock %}

{% block content %}

<div class="picture-secundaria">
  <h1>TOPSPIN TRACKER</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 p-4 text-white text-center" style="background-color: #6F4E37; border-right: 2px dashed white;">
      <h3>Misión</h3>
      <hr class="bg-white">
      <p>
        En TopSpin Tracker creemos que el tenis es más que un deporte: es una forma de crecer, compartir y soñar. Nuestra misión es brindar a cada jugador —niños, jóvenes y adultos— una experiencia transformadora, donde se sientan parte de una comunidad cercana, guiada por el respeto, la constancia y la alegría. Combinamos entrenamiento de calidad con herramientas tecnológicas innovadoras para acompañar su evolución dentro y fuera de la cancha.
      </p>
    </div>
    <div class="col-md-6 p-4 text-white text-center" style="background-color: #6F4E37;">
      <h3>Visión</h3>
      <hr class="bg-white">
      <p>
        En TopSpin Tracker creemos que el tenis es más que un deporte: es una forma de crecer, compartir y soñar. Nuestra misión es brindar a cada jugador —niños, jóvenes y adultos— una experiencia transformadora, donde se sientan parte de una comunidad cercana, guiada por el respeto, la constancia y la alegría. Combinamos entrenamiento de calidad con herramientas tecnológicas innovadoras para acompañar su evolución dentro y fuera de la cancha.
      </p>
    </div>
  </div>
</div>

{% endblock %}
