{% extends "_base.html" %}
{% block title %}Eliminar Pago{% endblock %}

{% block content %}
<h1>Eliminar Pago</h1>
<p>¿Estás seguro de que deseas eliminar el pago de <strong>{{ pago.usuario }}</strong>?</p>

<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Confirmar eliminación</button>

    {% if request.user.is_authenticated and request.user.usuario.rol == 'miembro' %}
        <a href="{% url 'pagos:mis_pagos' request.user.usuario.id %}" class="btn btn-secondary">Cancelar</a>
    {% else %}
        <a href="{% url 'pagos:list' %}" class="btn btn-secondary">Cancelar</a>
    {% endif %}
</form>
{% endblock %}
