{% extends "_base.html" %}
{% block title %}Registrar Mensualidad{% endblock %}

{% block content %}
<h1>Registrar Mensualidad</h1>

<!-- Mostrar mensajes flash -->
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}

<div class="alert alert-info">
    La mensualidad tiene un valor fijo de <strong>$170.000</strong> pesos colombianos. <br>
</div>

<a href="{% url 'pagos:registrar_mensualidad' %}" class="btn btn-success">
    Registrar Mensualidad
</a>
{% endblock %}
