{% extends '_base.html' %}

{% block content %}
  <h1>Torneos Disponibles</h1>

  {% if can_create %}
    <p>
      <a href="{% url 'eventos:create' %}?tipo=torneo">
        Crear Nuevo Torneo
      </a>
    </p>
  {% endif %}

  {% if eventos %}
    <ul>
      {% for evento in eventos %}
        <li>
          <h2>{{ evento.nombre }}</h2>
          <p>
            Fecha: {{ evento.fecha }} – Hora: {{ evento.hora }}<br>
            Duración: {{ evento.duracion }} minutos<br>
            Costo: {{ evento.costo }}
          </p>
          {% if user_inscripciones_torneo %}
            {% if evento.id in user_inscripciones_torneo %}
              <form action="{% url 'eventos:desinscribirse_torneo' evento.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Cancelar Inscripción</button>
              </form>
            {% else %}
              <form action="{% url 'eventos:inscribirse_torneo' evento.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Pagar e Inscribirse</button>
              </form>
            {% endif %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No hay torneos disponibles.</p>
  {% endif %}
{% endblock %}
